<!DOCTYPE html>

<html>
    <head>
        <link href="../css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>


    <body>

        <div id="content-body">

        </div>

        <!-- TODO: I think there is a go templating feature that allows me to move commonly used items into like a common file - so you can practice that here if you get the chance -->
        <nav id="bottom-navigation">
            <a href="/week">🍳</a>
            <a href="/shopping">🛍️</a>
            <a href="/notices">📌</a>
            <a href="/games">🕹️</a>

        </nav>
    </body>


</html>
