<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
	</head>


	<body>
		<div class="std-header">
			<a href="/">Home</a>
			<a href="/messages">Messages</a>
			<a href="/help">Help</a>
		</div>

		<div class="std-content">
			<h1>The Cooking Table</h1>
			<h2>Meaning of the Symbols</h2>
			<ul>
				<li>Blank - There is nothing happening in regards to the person.</li>
				<li>X - The person is not present for dinner.</li>
				<li>O - The person is cooking.</li>
				<li>? - The person may be there and will let you know.</li>
				<li>Striped O - The person may be able to cook.</li>
				<li>_ (underscore) - The person is there but cannot cook.</li>
			</ul>
			<h2>Controls of the Chart</h2>
			<p><b>Changing the Symbols</b> - The symbols on the chart may be changed by clicking on the respective cell of the table.</p>
			<p><b>Adding a Note (TODO)</b> - You will be able to add notes to individual days by right clicking the cell and clicking "add note". Then you will be prompted to type your note, and click "ok" after which the note that was typed will appear on the table. This note can be edited or deleted using the button shown as well.</p>
			<h1>Making Changes</h1>
			<p>If you are so daring as to want to make changes to the website, you can obviously contact me (via my <a href="https://saalbach.dev">website</a> or my <a href="mailto:robert@saalbach.dev">email</a>) or you can decide to create a fork of the website on <a href="https://github.com/2weiEmu/sis50.nl.go">GitHub</a> and then make a pull request (according to the CONTRIBUTING document (TODO)). Whatever way you prefer.</p>
		</div>

	</body>

</html>
