<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>


	<body>
		<div class="std-header">
			<a href="/">Home</a>
			<a href="/messages">Messages</a>
			<a href="/help">Help</a>
		</div>

		<div class="std-content">
			<h1>The Cooking Table</h1>
			<h2>Meaning of the Symbols</h2>
			<ul>
				<li><img src="/images/present.svg" class="site-icon"> - There is nothing happening in regards to the person.</li>
				<li><img src="/images/absent.svg" class="site-icon"> - The person is not present for dinner.</li>
				<li><img src="/images/cooking.svg" class="site-icon"> - The person is cooking.</li>
				<li><img src="/images/uncertain.svg" class="site-icon"> - The person may be there and will let you know.</li>
				<li><img src="/images/maybe-cooking.svg" class="site-icon"> - The person may be able to cook.</li>
				<li><img src="/images/cant-cook.svg" class="site-icon"> - The person is there but cannot cook.</li>
			</ul>
			<h2>Controls of the Chart</h2>
			<p><b>Changing the Symbols</b> - The symbols on the chart may be changed by clicking on the respective cell of the table.</p>
			<h1>House Notes</h1>
			<h2>Making Coffee</h2>
			<p>This changes depending on the number of people present.
			Here are the basic rules:</p>
			<table>
				<tr>
					<th>Number of People</th>
					<th>Amount of Water</th>
					<th>No. of scoops of Coffee</th>
				</tr>
				<tr>
					<td>2</td>
					<td>~ 3.75</td>
					<td>1 Scoop</td>
				</tr>
				<tr>
					<td>3</td>
					<td>~ 5.5</td>
					<td>1.5 Scoops</td>
				</tr>
				<tr>
					<td>4</td>
					<td>I am not sure actually...</td>
					<td>2 Scoops</td>
				</tr>
			</table>
			<h1>Messages</h1>
			<p>Messages can be written on the messages tab. A new message can be added in the "message here" section. It can be postedb y clicking "post".</p>
			<p>The most recent message will always appear on the front (main) page.</p>

			<h1>The Shopping List</h1>
			<p>The shopping list is quite simple, and a real-time websocket. New items can be added to the shopping list by entering the name in "Item here" and hitting enter or clicking "Add Item". You can then also click "edit" to edit the name of the item or you can hit "remove" to remove the item from the list.</p>

			<h1>Backgrounds</h1>
			<p>You can open the background menu by hitting the "bg" button the top of the screen. This is not present for every page. Only messages and the main page.</p>
			<p>You are able to add a new background by copying an image link to the text box and adding this. Then you may select it and hit "confirm" in order to use the background. Before confirming there will also be a preview of the background.</p>
			<p>When you have a background selected you may also hit "remove" to remove it from the list of backgrounds that you can choose from.</p>
			<p>In order to return to the default background you can open the background menu, not select any background and hit "confirm".</p>
			<h1>Making Changes</h1>
			<p>If you are so daring as to want to make changes to the website, you can obviously contact me (via my <a href="https://saalbach.dev">website</a> or my <a href="mailto:robert@saalbach.dev">email</a>) or you can decide to create a fork of the website on <a href="https://github.com/2weiEmu/sis50.nl.go">GitHub</a> and then make a pull request (according to the CONTRIBUTING document (TODO)). Whatever way you prefer.</p>
		</div>

	</body>

</html>
