<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
	</head>


	<body>
		<div class="std-header">
			<a href="/">Home</a>
			<a href="/messages">Messages</a>
			<a href="/help">Help</a>
		</div>

		<div class="std-content">

			<div class="message-notif">
				<img src="/images/message-icon.png" class="msg-icon">
				<p>No messages.</p>
			</div>

			<div class="outer-cook-table"> 
				<div><p>Rick</p></div>
				<div><p>Youri</p></div>
				<div><p>Robert</p></div>
				<div><p>Milan</p></div>
				<div><p>Dag</p></div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg"><p>Ma.</p></div>
				<div>Dag</div>
				<div>Dag</div>
				<div>Dag</div>
				<div>Dag</div>
				<div><p>Di.</p></div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg"><p>Wo.</p></div>
				<div>Dag</div>
				<div>Dag</div>
				<div>Dag</div>
				<div>Dag</div>
				<div><p>Do.</p></div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg"><p>Vr.</p></div>
				<div>Dag</div>
				<div>Dag</div>
				<div>Dag</div>
				<div>Dag</div>
				<div><p>Za.</p></div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg">Dag</div>
				<div class="bg"><p>Zo.</p></div>
			</div>

		</div>

	</body>

</html>
