<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>


	<body>
		<div class="std-header">
			<a href="/">Home</a>
			<a href="/messages">Messages</a>
			<a href="/help">Help</a>
		</div>

		<div class="std-content">

			<div class="message-notif">
				<img src="/images/message-icon.png" class="msg-icon">
				<p>No messages.</p>
			</div>

			<div class="outer-cook-table"> 
				<div><p>Rick</p></div>
				<div><p>Youri</p></div>
				<div><p>Robert</p></div>
				<div><p>Milan</p></div>
				<div><p>Dag</p></div>
				<div class="rick ma bg"><img src=""/></div>
				<div class="youri ma bg"><img src=""/></div>
				<div class="robert ma bg"><img src=""/></div>
				<div class="milan ma bg"><img src=""/></div>
				<div class="day ma bg"><p>Ma.</p></div>

				<div class="rick di"><img src=""/></div>
				<div class="youri di"><img src=""/></div>
				<div class="robert di"><img src=""/></div>
				<div class="milan di"><img src=""/></div>
				<div class="day di"><p>Di.</p></div>

				<div class="rick wo bg"><img src=""/></div>
				<div class="youri wo bg"><img src=""/></div>
				<div class="robert wo bg"><img src=""/></div>
				<div class="milan wo bg"><img src=""/></div>
				<div class="day wo bg"><p>Wo.</p></div>

				<div class="rick do"><img src=""/></div>
				<div class="youri do"><img src=""/></div>
				<div class="robert do"><img src=""/></div>
				<div class="milan do"><img src=""/></div>
				<div class="day do"><p>Do.</p></div>

				<div class="rick vr bg"><img src=""/></div>
				<div class="youri vr bg"><img src=""/></div>
				<div class="robert vr bg"><img src=""/></div>
				<div class="milan vr bg"><img src=""/></div>
				<div class="day vr bg"><p>Vr.</p></div>

				<div class="rick za"><img src=""/></div>
				<div class="youri za"><img src=""/></div>
				<div class="robert za"><img src=""/></div>
				<div class="milan za"><img src=""/></div>
				<div class="day za"><p>Za.</p></div>

				<div class="rick zo bg"><img src=""/></div>
				<div class="youri zo bg"><img src=""/></div>
				<div class="robert zo bg"><img src=""/></div>
				<div class="milan zo bg"><img src=""/></div>
				<div class="day zo bg"><p>Zo.</p></div>
			</div>

			<h1>Shopping List</h1>
			<form action="">
				<input name="item" placeholder="Item here..."></input>
				<button type="submit">Add Item</button>
			</form>

			<div class="shopping-list">
				<div class="shopping-item">
					<p>The name of an item...</p>
					<button>Edit</button>
					<button>Remove</button>
				</div>
			</div>

		</div>

	</body>

</html>
