<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/images/chalk-green.png">
		<title>Sis50's Chalkboard</title>
	</head>


	<body>
		<div class="std-header">
			<a href="/">Home</a>
			<a href="/messages">Messages</a>
			<a href="/help">Help</a>
		</div>

		<div class="std-content">

			<div class="message-notif">
				<img src="/images/message-icon.png" class="msg-icon">
				<p>No messages.</p>
			</div>

			<div class="outer-cook-table"> 
				<div><p>Rick</p></div>
				<div><p>Youri</p></div>
				<div><p>Robert</p></div>
				<div><p>Milan</p></div>
				<div><p>Dag</p></div>
				<div class="rick ma bg" data-person="rick" data-day="ma"><img data-state="present" src=""/></div>
				<div class="youri ma bg" data-person="youri" data-day="ma"><img data-state="present" src=""/></div>
				<div class="robert ma bg" data-person="robert" data-day="ma"><img data-state="present" src=""/></div>
				<div class="milan ma bg" data-person="milan" data-day="ma"><img data-state="present" src=""/></div>
				<div class="day ma bg"><p>Ma.</p></div>

				<div class="rick di " data-person="rick" data-day="di"><img data-state="present" src=""/></div>
				<div class="youri di " data-person="youri" data-day="di"><img data-state="present" src=""/></div>
				<div class="robert di " data-person="robert" data-day="di"><img data-state="present" src=""/></div>
				<div class="milan di " data-person="milan" data-day="di"><img data-state="present" src=""/></div>
				<div class="day di "><p>Di.</p></div>

				<div class="rick wo bg" data-person="rick" data-day="wo"><img data-state="present" src=""/></div>
				<div class="youri wo bg" data-person="youri" data-day="wo"><img data-state="present" src=""/></div>
				<div class="robert wo bg" data-person="robert" data-day="wo"><img data-state="present" src=""/></div>
				<div class="milan wo bg" data-person="milan" data-day="wo"><img data-state="present" src=""/></div>
				<div class="day wo bg"><p>Wo.</p></div>

				<div class="rick do " data-person="rick" data-day="do"><img data-state="present" src=""/></div>
				<div class="youri do " data-person="youri" data-day="do"><img data-state="present" src=""/></div>
				<div class="robert do " data-person="robert" data-day="do"><img data-state="present" src=""/></div>
				<div class="milan do " data-person="milan" data-day="do"><img data-state="present" src=""/></div>
				<div class="day do "><p>Do.</p></div>

				<div class="rick vr bg" data-person="rick" data-day="vr"><img data-state="present" src=""/></div>
				<div class="youri vr bg" data-person="youri" data-day="vr"><img data-state="present" src=""/></div>
				<div class="robert vr bg" data-person="robert" data-day="vr"><img data-state="present" src=""/></div>
				<div class="milan vr bg" data-person="milan" data-day="vr"><img data-state="present" src=""/></div>
				<div class="day vr bg"><p>Vr.</p></div>

				<div class="rick za " data-person="rick" data-day="za"><img data-state="present" src=""/></div>
				<div class="youri za " data-person="youri" data-day="za"><img data-state="present" src=""/></div>
				<div class="robert za " data-person="robert" data-day="za"><img data-state="present" src=""/></div>
				<div class="milan za " data-person="milan" data-day="za"><img data-state="present" src=""/></div>
				<div class="day za "><p>Za.</p></div>

				<div class="rick zo bg" data-person="rick" data-day="zo"><img data-state="present" src=""/></div>
				<div class="youri zo bg" data-person="youri" data-day="zo"><img data-state="present" src=""/></div>
				<div class="robert zo bg" data-person="robert" data-day="zo"><img data-state="present" src=""/></div>
				<div class="milan zo bg" data-person="milan" data-day="zo"><img data-state="present" src=""/></div>
				<div class="day zo bg"><p>Zo.</p></div>
			</div>

			<h1>Shopping List</h1>
			<form onsubmit="cleanInput(); return false;" class="form">
				<input id="item-name-add" placeholder="Item here..."></input>
				<button id="add-item" onclick="addItem()">Add Item</button>
			</form>

			<div id="shop-list" class="shopping-list">
				<!--
				<div id="0" class="shopping-item">
					<p>The name of an item...</p>
					<button onclick="editItem(this)">Edit</button>
					<button onclick="removeItem(this)">Remove</button>
				</div>
				-->
			</div>

		</div>

	</body>

	<script src="/js/index.js" args="{{ . }}"></script>
</html>
