<!DOCTYPE html>

<html>


	<head>
		<link rel="stylesheet" type="text/css" href="/css/index.css"> <!-- TODO: -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div id="header">
			<a href="/koken">koken</a>
			<a href="/winkel">winkel</a>
		</div>

		<div id="content-container">
	
			<div id="table-container">
				<table class="current-week">
					<h1>this week</h1>
					<tr>
						<th>Rick</th>
						<th>Youri</th>
						<th>Robert</th>
						<th>Milan</th>
						<th>Dag</th>
					</tr>
					<tr class="mandaag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">ma</td>
					</tr>
					<tr class="dinsdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">di</td>
					</tr>
					<tr class="woensdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">wo</td>
					</tr>
					<tr class="dondersdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">do</td>
					</tr>
					<tr class="vrijdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">vr</td>
					</tr>
					<tr class="zaterdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">za</td>
					</tr>
					<tr class="zondag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">za</td>
					</tr>
				</table>

				<table class="next-week">
					<h1>next week</h1>
					<tr>
						<th>Rick</th>
						<th>Youri</th>
						<th>Robert</th>
						<th>Milan</th>
						<th>Dag</th>
					</tr>
					<tr class="mandaag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">ma</td>
					</tr>
					<tr class="dinsdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">di</td>
					</tr>
					<tr class="woensdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">wo</td>
					</tr>
					<tr class="dondersdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">do</td>
					</tr>
					<tr class="vrijdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">vr</td>
					</tr>
					<tr class="zaterdag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">za</td>
					</tr>
					<tr class="zondag">
						<td class="rick"></td>
						<td class="youri"></td>
						<td class="robert"></td>
						<td class="milan"></td>
						<td class="dag">za</td>
					</tr>
				</table>
			</div>

			<div id="sidebar-container">
				<div id="bericht-container">
					<h1>berichte</h1>

					<div id="new-bericht">
						<input type="text"><button>enter</button>
					</div>
				</div>

				<div id="comic-container">
					<h1>vandaag's comic</h1>
					<img>
				</div>
			</div>
		</div>
	</body>
</html>


<script src="/js/koken.js"></script>
