<!DOCTYPE html>

<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/images/chalk-green.png">
		<title>Sis50's Chalkboard</title>
	</head>


	<body id="mbody">
		<div id="login-form">
			<input id="login-user">
			<label>Login</label>
			<input type="password" id="login-password">
			<label>Password</label>

			<button onclick="login()">Login</button>
		</div>
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/js/deploy.js" args="{{ . }}"></script>
	<script src="/js/login.js" args="{{ . }}"></script>
</html>


