<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/images/chalk-green.png">
		<title>Sis50's Chalkboard</title>
	</head>


	<body id="mbody">
		<div class="std-header">
			<a href="/">Home</a>
			<a href="/messages">Messages</a>
			<a href="/help">Help</a>
			<button id="bg-button">bg</button>
		</div>

		<div class="std-content">
			<!-- TODO: clean input preferably on the server side I guess --->
			<form id="msg-form" class="form complete-form">
				<input id="msg-content" placeholder="Message here.."></input>
				<button id="add-msg" type="submit">Post</button>
			</form>
			<div id="msg-list">
				<!--
				<div class="msg">
					<p>This is a message.</p>
				</div>
				-->
			</div>
			<div style="display: flex; justify-content: space-around;">
				<button 
					id="load-button"
					onclick="loadMoreItems(this)"
					data-page-number="0"
					style="background-color: var(--second-lo)">
					Load more messages...</button>
			</div>
		</div>

	</body>

	<div id="bg-menu" style="display: none;">
		<h1>Select One of Your Saved Backgrounds</h1>
		<div id="bgl">
		</div>
		<button id="bg-confirm" data-selected="">Confirm</button>
		<button id="bg-remove" data-selected="">Remove</button>
		<h2>Add a New Background</h2>
		<input id="new-bg" placeholder="New Background Image URL"></input>
		<button id="add-new-bg" data-selected="">Add</button>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/js/wallpaper.js" args="{{ . }}"></script>
	<script src="/js/messages.js" args="{{ . }}"></script>
	<script src="/js/messageformatting.js" args="{{ . }}"></script>
</html>


