<!DOCTYPE html>

<html>

	<head>
		<link href="/css/index.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/images/chalk-green.png">
		<title>Sis50's Chalkboard</title>
	</head>

	<body id="mbody">
		<div class="std-header">
			<a href="/">Home</a>
			<a href="/messages">Messages</a>
			<a href="/help">Help</a>
		</div>

		<div>
			<h1>Profile Picture</h1>
			<!-- TODO: the people need to be able to select already existing ones -->
		</div>

	</body>

	<div id="userprofile">
		<img id="userpicture">
		<div id="useractions">
			<button id="logoutbutton">logout</button>
			<a href="/profile">profile</a>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</html>


