<!DOCTYPE html>

<html>
    <head>
        <link href="../css/index.css" rel="stylesheet" type="text/css">
        <link href="../css/week.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>


    <body>

        <div id="content-body">

            <br>
            <h1>This Week</h1>

            <table>

                <tr>
                    <th>Rick</th>
                    <th>Youri</th>
                    <th>Robert</th>
                    <th>Milan</th>
                    <th>Dag</th>
                </tr>

                <tr>
                    <td class="monday rick"></td>
                    <td class="monday youri"></td>
                    <td class="monday robert"></td>
                    <td class="monday milan"></td>
                    <td class="day">Ma</td>
                </tr>

                <tr>
                    <td class="tuesday rick"></td>
                    <td class="tuesday youri"></td>
                    <td class="tuesday robert"></td>
                    <td class="tuesday milan"></td>
                    <td class="day">Di</td>
                </tr>

                <tr>
                    <td class="wednesday rick"></td>
                    <td class="wednesday youri"></td>
                    <td class="wednesday robert"></td>
                    <td class="wednesday milan"></td>
                    <td class="day">Wo</td>
                </tr>

                <tr>
                    <td class="thursday rick"></td>
                    <td class="thursday youri"></td>
                    <td class="thursday robert"></td>
                    <td class="thursday milan"></td>
                    <td class="day">Do</td>
                </tr>

                <tr>
                    <td class="friday rick"></td>
                    <td class="friday youri"></td>
                    <td class="friday robert"></td>
                    <td class="friday milan"></td>
                    <td class="day">Vr</td>
                </tr>

                <tr>
                    <td class="saturday rick"></td>
                    <td class="saturday youri"></td>
                    <td class="saturday robert"></td>
                    <td class="saturday milan"></td>
                    <td class="day">Za</td>
                </tr>

                <tr>
                    <td class="sunday rick"></td>
                    <td class="sunday youri"></td>
                    <td class="sunday robert"></td>
                    <td class="sunday milan">X</td>
                    <td class="day">Zo</td>
                </tr>

            </table>

            <br><br><hr><br>
            <h1>Next Week</h1>

            <table>

                <tr>
                    <th>Rick</th>
                    <th>Youri</th>
                    <th>Robert</th>
                    <th>Milan</th>
                    <th>Dag</th>
                </tr>

                <tr>
                    <td class="next-week monday rick"></td>
                    <td class="next-week monday youri"></td>
                    <td class="next-week monday robert"></td>
                    <td class="next-week monday milan"></td>
                    <td class="day"></td>
                </tr>

                <tr>
                    <td class="next-week tuesday rick"></td>
                    <td class="next-week tuesday youri"></td>
                    <td class="next-week tuesday robert"></td>
                    <td class="next-week tuesday milan"></td>
                    <td class="day"></td>
                </tr>

                <tr>
                    <td class="next-week wednesday rick"></td>
                    <td class="next-week wednesday youri"></td>
                    <td class="next-week wednesday robert"></td>
                    <td class="next-week wednesday milan"></td>
                    <td class="day"></td>
                </tr>

                <tr>
                    <td class="next-week thursday rick"></td>
                    <td class="next-week thursday youri"></td>
                    <td class="next-week thursday robert"></td>
                    <td class="next-week thursday milan"></td>
                    <td class="day"></td>
                </tr>

                <tr>
                    <td class="next-week friday rick"></td>
                    <td class="next-week friday youri"></td>
                    <td class="next-week friday robert"></td>
                    <td class="next-week friday milan"></td>
                    <td class="day"></td>
                </tr>

                <tr>
                    <td class="next-week saturday rick"></td>
                    <td class="next-week saturday youri"></td>
                    <td class="next-week saturday robert"></td>
                    <td class="next-week saturday milan"></td>
                    <td class="day"></td>
                </tr>

                <tr>
                    <td class="next-week sunday rick"></td>
                    <td class="next-week sunday youri"></td>
                    <td class="next-week sunday robert"></td>
                    <td class="next-week sunday milan">X</td>
                    <td class="day"></td>
                </tr>

            </table>

        </div>

        <!-- TODO: I think there is a go templating feature that allows me to move commonly used items into like a common file - so you can practice that here if you get the chance -->
        <nav id="bottom-navigation">
            <a href="/week">🍳</a>
            <a href="/shopping">🛍️</a>
            <a href="/notices">📌</a>
            <a href="/games">🕹️</a>

        </nav>
    </body>


</html>
