<!DOCTYPE html>

<html>


	<head>
		<link rel="stylesheet" type="text/css" href="/css/index.css"> <!-- TODO: -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div id="header">
			<a href="/koken">koken</a>
			<a href="/winkel">winkel</a>
		</div>

		<div id="shopping-container">
			<h1>nodig</h1>
			<div id="item-enter-container">
				<input id="item-enter" placeholder="enter new item..."></input>
				<button>enter</button>
			</div>
			<div id="list-container">
			</div>
		</div>
	</body>
</html>


<script src="/js/koken.js"></script>
