:root {
	--text: #F4DFDD;
	--bg: #0B0403;
	--sec-bg: #120B0A;
	--primary: #E69A94;
	--second: #7B352E;
	--second-lo: rgba(123, 53, 46, 0.5);
	--accent: #90AE72;
	--success: #47D76F;
	--error: #E94E4E;
}

@font-face {
	src: url("/fonts/IBMPlexSerif-Regular.ttf");
	font-family: IBS-Regular;
}

* {
	font-family: IBS-Regular, Serif;
}

body {
	background-color: var(--bg);
	color: var(--text);
}

.std-header {
	display: flex;
	column-gap: 20px;
	padding: 12px 10% 24px 10%;
	border-bottom: 2px solid var(--primary);
}

.std-header a {
	font-size: 1.5rem;
	color: var(--primary);
}

.std-content {
	padding: 24px 20% 24px 20%;
}

.message-notif {
	display: flex;
	background-color: var(--second-lo);
	border: 1px solid var(--second);
	border-radius: 5px;
	padding: 9px 5px 5px 5px;
	margin: 0 0 20px 0;
}

.message-notif p {
	margin: 0;
	padding: 0 20px 0 20px;
}

.msg-icon {
	height: 24px;
}

.outer-cook-table {
	margin: 40px 0 40px 0;
	background-color: var(--second-lo);
	border: 1px solid var(--second);
	aspect-ratio: 8 / 5;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;

	display: grid;
	grid-template-rows: repeat(8, calc(100% / 8));
	grid-template-columns: repeat(5, calc(100% / 5));
	border-radius: 5px;
}

.bg {
	background-color: var(--bg);
}

.outer-cook-table div {
	font-size: 2rem;
	text-align: center;
}


.outer-cook-table div:nth-child(1n + 1) {
	border-right: 1px solid var(--primary);
}

.outer-cook-table div:nth-child(5n) {
	border-right: none;
}


.outer-cook-table div p {
	margin: 0;
	margin-top: 8%;
	height: 50%;
}

.outer-cook-table div img {
	margin: auto;
}

h1 {
	color: var(--primary);
	text-decoration: underline;
}

form {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-evenly;
}

form input {
	width: 70%;
	font-size: 1.75rem;
	color: var(--primary);
	text-decoration: underline;
	background-color: var(--second-lo);
	border: 2px solid var(--second);
	border-radius: 5px;
	padding: 5px;
}

form button {
	width: 25%;
	font-size: 1.75rem;
	background-color: var(--primary);
	color: var(--bg);
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.shopping-list {
	width: calc(100% - 82px);
	border: 1px solid var(--second);
	margin: 40px 0 40px 0;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	height: 400px;
	padding: 10px 40px 10px 40px;

}

.shopping-item {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: min-content;
}

.shopping-item * {
	margin: 5px;
	font-size: 1.5rem;
	background-color: var(--sec-bg);
	padding: 10px;
	border-radius: 5px;
}

.shopping-item p {
	width: 70%;
}

.shopping-item button {
	border: none;
	width: 12%;
	color: var(--text);
}

a {
	color: var(--primary);
}

@media only screen and (max-width: 640px) {
	html, body {
		width: 100vw;
		min-height: 100vh;
	}
}
